<!DOCTYPE html>

<!--change "{'%  load staticfiles '%} " -->
{%  load static %}
<html lang="en">
    <head>
            <link rel="stylesheet" type="text/css" href={%  static 'Myapp/style.css' %} />
            <!--rel：relationship， 是指当前文档和被链接文档之间的关系，比如CSS就是stylesheet，这个是一个关键字
            type， 被链接文档的MIME类型-->
            <title>E-Learning WebApp - {% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
        <div>
            <h1>{% block myhdg %}Hello User{% endblock %}</h1>
            {% block body_block %}***{% endblock %}
        </div>
        <hr /> <!--this is for creating a horizontal line-->
        <div>
            <ul>
                <li class="hbar1"><a href="/Myapp/about" >Find out about our E-Learning site</a><br></li>
                <li class="hbar1"><a href={% url 'Myapp:index' %}>Click here to return to main page</a></li>
            </ul>
        </div>
    </body>
</html>